{% extends "layout.html" %}
{% load static %}

{% block page_title %}Home{% endblock %}

{% block content %}
<main>
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      {% for contents in contents %}
      <div class="carousel-item active">
        <img src="{% static 'img/hero-carousel/'|add:contents.image %}" alt="{{ contents.title }}" />
        <div class="container">
          <h2>{{ contents.title }}</h2>
          <p>{{ contents.description }}</p>
          <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
        </div>
      </div><!-- End Carousel Item -->
      {% endfor %}
      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row position-relative">

        <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="{% static 'img/about.jpg' %}" /></div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
          <h2 class="inner-title">Consequatur eius et magnam</h2>
          <div class="our-story">
            <h4>Est 1988</h4>
            <h3>Our Story</h3>
            <p>Inventore aliquam beatae at et id alias. Ipsa dolores amet consequuntur minima quia maxime autem. Quidem id sed ratione. Tenetur provident autem in reiciendis rerum at dolor. Aliquam consectetur laudantium temporibus dicta minus dolor.</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
            </ul>
            <p>Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in quo eveniet. Molestias in maxime doloremque.</p>

            <div class="watch-video d-flex align-items-center position-relative">
              <i class="bi bi-play-circle"></i>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Watch Video</a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">

    <div class="container">

      <div class="row gy-4">
      {% for service in services %}

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item {{ service.extra_data.color }} position-relative">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="{{ service.extra_data.d|safe }}"></path>
              </svg>
              <i class="bi {{ service.extra_data.icon }}" ></i>
            </div>
            <a href="{% url 'service_details' %}" class="stretched-link">
              <h3>{{ service.title }}</h3>
            </a>
            <p>{{ service.description }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

  </section><!-- /Services Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Card</li>
          <li data-filter=".filter-branding">Web</li>
        </ul><!-- End Portfolio Filters -->
        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
          {% for card in cards %}
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item {{ card.extra_data.filter }}">
            <img src="{% static 'img/masonry-portfolio/'|add:card.image %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ card.title }}</h4>
              <p>{{ card.description }}</p>
              <a href="{% static 'img/masonry-portfolio/'|add:card.image %}" title="{{ card.title }}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi {{ card.extra_data.icon }}"></i></a>
              <a href="{% url 'portfolio' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div>
          {% endfor %}
        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->

  <!-- Clients Section -->
  <section id="clients" class="clients section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Clients</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0 clients-wrap">
        {% for client in clients %}
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/'|add:client.image %}" class="img-fluid" alt="{{ client.title }}">
        </div>
        {% endfor %}
<!--
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>-->
  </section><!-- /Clients Section -->

</main>
{% endblock %}